
body {
	margin: 0px;
}
.wrapper {
 	margin: auto;
 	width: 80%;
}
.header {
	padding: 43px 5px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0%;
}
.logo, .menu {
	display: inline-block;
}
.logo {
	height: 34px;
	background: url('img/logo.svg') no-repeat;
	position: absolute;
	width: 36px;
	left: 24px;
	top: 24px;
}
.menu {
 	display: flex;
 	align-items: center;
}
.menu__item {
	position: relative;
	margin-right: 27px;
	font: 500 18px/21px "Roboto", arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}
.menu__item:after {
	position: absolute;
	left: 0px;
	display: block;
	content: '';
	width: 68px;
	height: 3px;
	background:#0056EC;
	opacity: 0;
	transition: opacity .5s, width .5s;
}
.menu__item:hover {
	opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;	
	width: 100%;

 }	   
.menu__item:last-child {
	 margin-right: 2px;
}   
.main{
	background: url(img/mainimg.svg);
	padding-right: 65%;
	background-repeat: no-repeat;
	background-position: 100% 122px;
	padding-top: 13%;
	background-size: 777px 659px;
	padding-bottom: 180px;
}
.main__title {
	margin: -1px 0 37px 8px;
	font: bold 65px/86px "PT Serif", arial, helvetica, sans-serif;
	}
.main__subtitle {
   	margin: -2px 0 34px -5px;
   	font: 400 22px/25px "Roboto", arial, helvetica, sans-serif;
   	padding-bottom: 8px;
   	width: 462px;
   	padding-left: 6px;
}
.main__button {
	display: inline-block;
	font: 500 19px/25px "Roboto",arial,helvetica,sans-serif;
	color: #fff;
	background: #0056EC;
	padding: 18px 26px;
	text-decoration: none;
	border-radius: 4px;
	transition: opacity 4.5s;
	width: 230px;
	height: 26px;
	padding-left: 1px;
}
.main__button:hover {
	opacity: .5; 
}
@media (max-width: 768px) {
.menu {
    display: none;}
    }
.header {
	margin-bottom: 28px;
	}
	   
.main {  
	text-align: center;
	padding: 74% 0 0;
	background-size: 74%;   
	background-position: top center;
		}
.main__title {
	margin-bottom: 44px;
	font: bold 30px/39px 'PT Serif', arial, helvetica, sans-serif;
	}
.main__subtitle {
	margin-bottom: 25px;
	font: 500 16px/19px "Roboto", arial, helvetica, sans-serif;
	position: absolute;
	width: 275px;
	height: 57px;
	left: calc(50% - 275px/2 + 3px);
	top: 520px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
	}
.main__button {
	font: 500 14px/16px "Roboto", arial, helvetica, sans-serif;
	position: absolute;
	width: 200px;
	height: 18px;
	left: calc(50% - 209px/2 + 1px);
	top: 623px;
	background: #0056EC;
	border-radius: 4px;
	} 
.menu__box{
		display: block;
	}
#menu__toggle {
	opacity: 0;
  }
.menu__btn {
	display: flex;
	align-items: center
	z-index: 1;
	position: absolute;
	width: 25px;
	height: 17px;
	left: 326px;
	top: 32px;
	}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
  }
.menu__btn > span::before {
	content: '';
	top: -8px;
  }
.menu__btn > span::after {
	content: '';
	top: 8px;
  }
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
.menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
  }
.menu__item:hover {
	background-color: #CFD8DC;
  }
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
  }
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
  }
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
  }
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}