h1 {
    font-family: "Roboto";
	font-family: "PT Serif";
}
body {
}
.wrapper {
 	margin: auto;
 	width: 80%;
}
.logo, .menu {
	display: inline-block;
}
.logo {
}
.header {
	padding: 31px 0px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1%;
}
.logo {
	/* */
	font: 21px/31px 'pt_serifbold', arial, helvetica, sans-serif;
	width: 180px;
	height: 33px;
	background: url('img/logo.svg');
}
.menu {
 	display: flex;
 	align-items: center;
 	padding: 8px;
}
.menu__item {
	position: relative;
	margin-left: 26px;
	font: 500 18px/22px Roboto, arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 0.5s;
}
.menu__item:after {
	position: absolute;
	left: 0px;
	display: block;
	content: '';
	width: 68px;
	height: 3px;
	background: #1bc7c7c4;
	opacity: 0;
	transition: opacity .5s, width .5s;
}
.menu__item:hover {
	opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;	
	width: 100%;

 }	   
.menu__item:last-child {
	 margin-right: -3px;
}   
.main{
	background: url(img/mainimg.svg);
	padding-right: 65%;
	background-repeat: no-repeat;
	background-position: 100% 120px;
	padding-top: 13%;
	background-size: 768px 657px;
	padding-bottom: 197px;
}
.main__title {
	margin: 0px 0px 38px 0px;
	font: bold 65px/86px "PT Serif", arial, helvetica, sans-serif;
	padding-top: 0px;
	}
.main__subtitle {
   	margin: -2px 0px 41px -5px;
   	font: 22px/26px "Roboto", arial, helvetica, sans-serif;
   	padding-bottom: 0px;
   	width: 470px;
}
.main__button {
	display: inline-block;
	font: 18px/24px "Roboto",arial,helvetica,sans-serif;
	color: #fff;
	background: #0056EC;
	padding: 18px 32px;
	text-decoration: none;
	border-radius: 4px;
	transition: opacity 4.5s;
	width: 217px;
	height: 22px;
	padding-left: 19px;
}
.main__button:hover {
	opacity: .5;
   }
.main__title-text_highlight {
	background: #a9dbef;
	}